<div class="container mt-3">
    <a href="/profile">Back to profile</a> 
    {{#unless user.admin}}
    <br>
    <button type="button" class="btn btn-outline-primary" id="seeCart" name="{{this.cart}}">Go to Cart</button>
    {{/unless}}

    <h3 class="mt-3"> Welcome <span class="fw-bold">{{user.first_name}}!</span>  {{#if user.admin}} <span style="color: green">(admin)</span> {{else}} <span style="color: blue"> (user)</span>{{/if}}</h3>
    {{#if user.admin}}
    
    <div class="mt-4 mb-3">
        <h4>Add a product</h4>
        <form id="product-form">
            <div class="mb-3">
                <label for="Title" class="form-label">Product title</label>
                <input type="text" class="form-control" id="productTitle" name="title">
            </div>
            <div class="mb-3">
                <label for="Description" class="form-label">Description</label>
                <input type="text" class="form-control" id="productDescription" name="description">
            </div>
            <div class="mb-3">
                <label for="Price" class="form-label">Price</label>
                <input type="number" class="form-control" id="productPrice" name="price">
            </div>
            <div class="mb-3">
                <label for="Code" class="form-label">Code</label>
                <input type="number" class="form-control" id="productCode" name="code">
            </div>
            <div class="mb-3">
                <label for="Stock" class="form-label">Stock</label>
                <input type="number" class="form-control" id="productStock" name="stock">
            </div>
            <div class="mb-3">
                <label for="Status" class="form-label">Status disponible</label>
                <select name="status" id="productStatus">
                    <option value="1">Disponible</option>
                    <option value="2">No disponible</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="Category" class="form-label">Category</label>
                <input type="text" class="form-control" id="productCategory" name="category">
            </div>
            <button type="submit" class="btn btn-primary">Add product to DB</button>
        </form>
    </div>
    <h4>These are the products on the DB</h4>
    <div class="mt-4" id="productContainerAdmin">
        <ul class="list-group">
        {{#each renderProducts}}
            <li class="list-group-item d-flex mb-3">
                <div>{{this.productId.title}} - {{this.description}} - ${{this.price}} - stock: {{this.stock}}</div> <button type="button" id="{{this.id}}" class="btn btn-outline-success btn-sm ms-auto p-2">Delete product</button>
            </li>
        {{/each}}
        <a href=`"http://localhost:8080/products{{prevLink}}"`>Prev Link</a> 
        <h4>{{page}}</h4> 
        <a href="http://localhost:8080/products{{nextLink}}">Next Link</a> 
       
    </div>
    {{else}}
    <h4>These are our products. </h4>
    <div class="mt-4" id="{{this.cart}}">
        <ul class="list-group" id="userProductList">
        {{#each renderProducts}}
            <li class="list-group-item d-flex mb-3">
                <div>{{this.productId.title}} - {{this.description}} - ${{this.price}} - stock: {{this.stock}}</div> <button type="button" id="{{this.id}}" name="{{cart}}" class="btn btn-outline-success btn-sm ms-auto p-2">Add to cart</button>
            </li>
        {{/each}}
        </ul>
    </div>
    <a href=`"http://localhost:8080/products{{prevLink}}"`>Prev Link</a> 
    <h4>{{page}}</h4> 
    <a href="http://localhost:8080/products{{nextLink}}">Next Link</a> 

    {{/if}}
</div>
